<!DOCTYPE html>
<html ng-app="authApp">
  <head>
    <title>Passport-Local-Mongoose</title>
      <link rel="stylesheet" href="/lib/foundation.css"/>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">

        <!-- UI-States change here -->
        <div ui-view></div>

    </div>

    <!-- Angular Library -->
    <script src="/lib/angular.js"></script>
    <script src="/lib/angular-resource.js"></script>
    <script src="/lib/angular-ui-router.js"></script>

    <!-- Angular Scripts (custom ui-routes, controllers & services)-->
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/controllers.js"></script>
    <script src="/javascripts/services.js"></script>
  </body>
</html>
